{% extends 'base.html.twig' %}

{% block title %}Effective | Log in !{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="login offset-4 col-4 offset-4 text-center ">
             <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}


                    <h1 class="login-title">Login</h1>

                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" placeholder="Email" required autofocus>

                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <div class="login-password-div"> <a href="#" class="login-password-link">Forgot password ?</a></div>


                <button class="login-btn mt-4" type="submit">
                    Sign in
                </button>

                <div class="login-SignUp">
                    <div>No account yet ?</div>
                    <a href="{{ path("app_registration") }}" class="login-link">Sign up</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
